<!--<template>
    <div id="all">
    <input type="text" id="suggestId" name="address_detail" placeholder="地址"  v-model="address_detail" class="input_style">
    <div id="allmap"></div>
    </div>
</template>
<script>
 //import {MP} from '../../map'
   export default {
       data(){
           return {
               address_detail: '广州市天河区广州大道北878号晟建商务二楼202室', //详细地址
               userlocation: {lng: "", lat: ""},
           }
       },
       mounted(){
           this.$nextTick(function () {
                   var th = this
                   // 创建Map实例
                   var map = new BMap.Map("allmap");
                   // 初始化地图,设置中心点坐标，
                   var point = new BMap.Point(121.160724,31.173277); // 创建点坐标，汉得公司的经纬度坐标
                   map.centerAndZoom(point, 15);
                   map.enableScrollWheelZoom();
                   var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                       {
                           "input": "suggestId"
                           , "location": map
                       })
                   var myValue
                   ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
                       var _value = e.item.value;
                       myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
                       this.address_detail = myValue
                       setPlace();
                   });

                   function setPlace() {
                       map.clearOverlays();    //清除地图上所有覆盖物
                       function myFun() {
                           th.userlocation = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                           map.centerAndZoom(th.userlocation, 18);
                           map.addOverlay(new BMap.Marker(th.userlocation));    //添加标注
                       }

                       var local = new BMap.LocalSearch(map, { //智能搜索
                           onSearchComplete: myFun
                       });
                       local.search(myValue);

                       //测试输出坐标（指的是输入框最后确定地点的经纬度）
                       map.addEventListener("click",function(e){
                           //经度
                           console.log(th.userlocation.lng);
                           //维度
                           console.log(th.userlocation.lat);

                       })

                       //提示信息
                      var infoWindow = new BMap.InfoWindow('这是提示信息')
                      // 鼠标移上标注点要发生的事
                      marker.addEventListener('mouseover', function() {
                        this.openInfoWindow(infoWindow)
                      })
                   }
                  
           })
       },

   }
</script>
<style scoped>
   #allmap{
        width: 1500px;
        height: 800px;
        margin: 0 auto;
        font-family: "微软雅黑";
        border:1px solid green;
    }
</style>
-->

<template>

<div class="Layout">
  <div class="baidumap" id="allmap">
<el-amap :center="center"></el-amap>
  </div>
</div>
</template>

<script>
  export default {
    name: 'Bmap',
    components: {

    },

    data(){
      return{
        center: {lng: 113.324675, lat: 23.174314}              
           }       
    },
    mounted:function() {
      this.baiduMap()
    },

    methods: {

      baiduMap() {
        var map = new BMap.Map('allmap')
        var point = new BMap.Point(113.324675, 23.174314)
        function add(){
        var marker = new BMap.Marker(point);           
        map.addOverlay(marker);
        map.removeEventListener("tilesloaded",add);
        } 
        map.addEventListener("tilesloaded",add);
         // 创建点坐标
        map.centerAndZoom(point, 18) // 初始化地图，设置中心点坐标和地图级别
        map.enableScrollWheelZoom(true) //开启鼠标滚轮缩放

        map.addControl(new BMap.NavigationControl())
        map.addControl(new BMap.ScaleControl())
        map.addControl(new BMap.OverviewMapControl())
        map.addControl(new BMap.MapTypeControl())
        //map.setMapStyle({ style: 'midnight' }) //地图风格

        var marker = new window.BMap.Marker(point) // 创建标注
        map.addOverlay(marker) // 将标注添加到地图中

        //提示信息
        var infoWindow = new BMap.InfoWindow('广州市天河区广州大道北878号晟建商务二楼202室'+'<p><a href="http://api.map.baidu.com/marker?location=23.174314,113.324675&title=晟建商务&content=广州市天河区广州大道北878号晟建商务二楼202室&output=html">到这里去</a></p>')
        // 鼠标移上标注点要发生的事
        marker.addEventListener('click',function() {
          this.openInfoWindow(infoWindow)
        })

        let ev = new Event("click");
        setTimeout(() => { // 加定时器,一秒后触发
          marker.dispatchEvent(ev); 
        }, 1000);
        // 鼠标移开标注点要发生的事
        marker.addEventListener('mouseout', function() {
          //this.closeInfoWindow(infoWindow)
        })

       
      },

    wakeBaidu() {
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (result) {
      if (this.getStatus() == BMAP_STATUS_SUCCESS) {
        var latCurrent = result.point.lat; //获取到的纬度
        var lngCurrent = result.point.lng; //获取到的经度
        if (latCurrent && lngCurrent) {
          var scheme = '';
          
          // urlObject 是我这边地址栏查询参数对象
          var queryStr = '?origin=name:我的位置|latlng:' + latCurrent + ',' + lngCurrent + '&destination=' + urlObject.lat + ',' + urlObject.lng + '&region=' + urlObject.city + '&coord_type=bd09ll&mode=driving';
 
          if (isIOS()) {
            // ios 端
            scheme = 'baidumap://map/direction' + queryStr;
          } else {
            // android 端
            scheme = 'bdapp://map/direction' + queryStr;
          }
 
          // 主要实现代码
          window.location.href = scheme;
          
          var startTime = Date.now();
          var count = 0;
          var endTime = 0;
          
          var t = setInterval(function () {
            count += 1;
            endTime = Date.now() - startTime;
            if (endTime > 800) {
              clearInterval(t);
            }
            if (count < 30) return;
            if (!(document.hidden || document.webkitHidden)) {
              window.location.href = 'http://api.map.baidu.com/direction' + queryStr + '&output=html';
            }
          }, 20);
 
          window.onblur = function () {
            clearInterval(t);
          };
        } else {
          alert('获取不到定位，请检查手机定位设置');
        }
      }
    });
  },

      openApp() {
        window.location.href ="http://api.map.baidu.com/marker?location=113.324675,23.174314&title=广州市天河区广州大道北878号晟建商务二楼202室&content=广州市天河区广州大道北878号晟建商务二楼202室&output=html"
      },
      add () {
      this.$router.push({path: 'http://api.map.baidu.com/marker?location=113.324675,23.174314&title=广州市天河区广州大道北878号晟建商务二楼202室&content=广州市天河区广州大道北878号晟建商务二楼202室&output=html'})
    },
      //点击按钮
             locationbtn(){
             this.$router.push({path: 'http://api.map.baidu.com/marker?location=113.324675,23.174314&title=广州市天河区广州大道北878号晟建商务二楼202室&content=广州市天河区广州大道北878号晟建商务二楼202室&output=html'})
      }
    }
  }
</script>


<style>
  .baidumap {
    height: 1300px;
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  /* 去除百度地图版权那行字 和 百度logo */
  .baidumap > .BMap_cpyCtrl {
    display: none !important;
  }
  .baidumap > .anchorBL {
    display: none !important;
  }

</style>