<template>
     <el-container>
        <el-main>
           <router-view></router-view>
        </el-main>
        <el-footer>
             <foot :items="commonData"  v-if='mavshow'></foot>
        </el-footer>
        <!-- 回到顶部 -->
        <el-backtop  :bottom="30" :right="30" class="">
            <div
              style="{
                height: 100%;
                width: 100%;
                background-color: #f2f5f6;
                box-shadow: 0 0 6px rgba(0,0,0, .12);
                text-align: center;
                line-height: 40px;
                color: #1989fa;
              }"
            >
              UP
            </div>
        </el-backtop>
    </el-container>
</template>

<script>
import navigatio from'../components/Nav'
import foot from '../components/foot'
import {currentInformation} from '../api/serve'
// console.log(navigatio)
export default {
    components:{
        navigatio,foot
    },
    data(){
        return{
          mavshow:true,
          commonData:'',
          path:''
        }
    },
    methods:{
         getcommonInfor(){
                  currentInformation().then(res=>{
                  if(res.data.code==0){
                      this.commonData=res.data.data || ''
                      this.mavshow=true;
                      // document.querySelector('title').textContent=this.commonData.names
                      this.$root.$emit('commentInfo',function(){
                        return res.data.data;
                      }())
                      }else{
                          this.$message.error(res.data.msg)
                          this.mavshow=true;
                      }
                  }).catch(err=>{
                      this.mavshow=true;
                      this.$message.error(err.data.msg)
                  })  
         }
    },
    created(){
      this.getcommonInfor()
  },
  watch:{
       $route: function(n,o){
            if(n.path!==o.path){
                  this.$root.$emit('commentInfo',this.commonData)
            } 
       }
  }
}
</script>

<style lang="scss" scoped>
     *{
         padding: 0;
         margin: 0;
         .el-container{
                max-width: 1920px;
                min-width: 1200px;
                margin:auto;
                position: relative;
                header{
                    width: 100%;
                    position: absolute;
                    z-index: 33;
                    background: transparent;
                   
                }
               .el-main{
                   min-height: 700px;
                  //  background: #ffffff;
                   padding: 0;
                   margin:0;
              
               }
              
         }
     }
</style>
<style>
.el-header{
  height: auto!important;
}
</style>


