<template>
  <div class="detailedPage">
    <div
      class="banner"
      ref="banner"
    >
      <div class="theme_box">
        <!-- <h1>案例详情</h1>
        <h2>精选案例随时可用、操作简单、方便、智能</h2>
        <p>cases are available at any time, easy to operate, convenient, intelligent</p> -->
        <span class="titlefirst">案例详情</span>
        <span class="nexttile">精选案例随时可用、操作简单、方便、智能</span>
        <span class="downtext">cases are available at any time, easy to operate, convenient, intelligent</span>
      </div>

    </div>
    <div class="detailed-text">
      <h3>{{currnetCase.titles}}</h3>
      <div
        class="detailed-content ql-snow ql-editor"
        v-html="currnetCase.contents"
      >

      </div>
      <div class="deailed-pageaion">
        <div class="text_clrt">
          <p
            v-if="prevCase"
            @click="currentIndex--"
          >上一篇 <span>{{prevCase.titles}}</span></p>
          <p
            v-if="nextCase"
            @click="currentIndex++"
          >下一篇 <span>{{nextCase.titles}}</span></p>
        </div>
        <div>
          <p>
            文章分类: 业务知识
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { caseCanterList } from "../api/serve";
export default {
  data() {
    return {
      currentIndex: "",
      currnetCase: "",
      prevCase: "",
      nextCase: "",
      caseList: []
    };
  },
  methods: {
    initbackground() {
      var baner = this.$refs["banner"];
    },
    initpagedata() {
      // 获取新闻列表
      caseCanterList()
        .then(res => {
          if (res.data.code == 0) {
            this.caseList = res.data.data.content;
            // console.log(this.newsList)
            let currentID = this.$route.params.id;
            // 获取当前详情
            if (currentID !== undefined) {
              // console.log(this.newsList)
              this.caseList.map((item, index) => {
                if (item.id == currentID) {
                  this.currentIndex = index;
                  // console.log(this.currentIndex)
                }
              });
            }else{
                this.currentIndex=0
            }
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error(err.data.msg);
        });
    }
  },
  created() {
    this.initpagedata();
  },
  mounted() {
    //  console.log(this
  },
  watch: {
    currentIndex(n, o) {
      this.currnetCase = this.caseList[n];
      this.prevCase = this.caseList[n - 1];
      this.nextCase = this.caseList[n + 1];
    }
  }
};
</script>

<style lang="scss" scoped>
.detailedPage {
  .banner {
    width: 100%;
    position: relative;
    height: 30vh;
    //   background-position: center;
    background-repeat: no-repeat;
    //   background-size: contain;
    background-position: center center;
    background-image: url("../assets/indexImages/新闻banner_知识.png");
    img {
      position: absolute;
      // width: 100%;
      height: 100%;
      // z-index: -1;
    }
   .theme_box{
             width: 100%;
             height: 200px;
            //  margin-top:30px;
             transform: scale(0.6,0.6);
             -webkit-transform-origin-y: 127%;
            //  background: yellow;
             color: #ffffff;
             span{
               display: block;
               text-align: center;
               color: #ffff;
             }
             .titlefirst{
                font-size: 45px;
                line-height: 116px;
             }
             .nexttile{
                font-size: 34px;
             }
             .downtext{
                 font-size: 17px;
                line-height: 40px;
             }

        } 
  }
  .detailed-text {
     width: 60%;
    min-height: 500px;
    margin: 0px auto;
    //   background-color: yellow;
    h3 {
      border-bottom: 1px solid #ccc;
    }
    .detailed-content {
      border-bottom: 1px solid #ccc;
      min-height: 500px;
    }
    .deailed-pageaion {
      display: flex;
      justify-content: space-between;
      div:nth-of-type(1) {
        p {
          box-sizing: border-box;
          cursor: pointer;
          font-size: 1.6rem;
          span {
            margin-left: 20px;
          }
        }
        p:hover {
          color: #469bed;
          border-bottom: 1px solid #469bed;
        }
      }
      div:nth-of-type(2) {
        p {
          //  font-size: 1.6rem;
          color: #ccc;
        }
      }
    }
  }
}
</style>