footer {
    background-color: #252b31;
  }
  
  footer .row {
    width: 70%;
    margin: 0 auto;
    color: #d8d8d8;
    font-family: "Microsoft YaHei";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  @media screen and (max-width: 1366px) {
    footer .row {
      width: 100%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
  }
  
  footer .row a {
    color: #d8d8d8;
  }
  
  footer .row .col-md-3 {
    height: 266px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  footer .row .col-md-3 p {
    font-size: 14px;
    margin-top: 9px;
  }
  
  footer .row .col-md-5 {
    font-size: 12px;
  }
  
  @media screen and (max-width: 1366px) {
    footer .row .col-md-5 {
      margin: 20px 0;
    }
  }
  
  footer .row .col-md-5 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
  }
  
  footer .row .col-md-5 ul a {
    margin: 0 8px;
    font-size: 14px;
  }
  
  footer .row .col-md-5 .address {
    margin-bottom: 16px;
  }
  
  footer .row .col-md-5 .address p {
    padding-left: 20px;
  }
  
  footer .row .col-md-5 .address p:nth-of-type(1) {
    background: url("/images/address.png") no-repeat left;
  }
  
  footer .row .col-md-5 .address p:nth-of-type(2) {
    margin-top: 8px;
  }
  
  footer .row .col-md-5 .copyright {
    margin-top: 20px;
  }
  
  footer .row .col-md-5 .copyright p {
    margin-bottom: 8px;
  }
  
  footer .row .col-md-4 {
    font-size: 14px;
    width: 300px;
  }
  
  footer .row .col-md-4 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  footer .row .col-md-4 ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-bottom: 15px;
  }