<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
// #app {
//   font-family: 'Avenir', Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   // text-align: center;
//   // color: #2c3e50;
// }
// #nav {
//   padding: 30px;
//   a {
//     font-weight: bold;
//     color: #2c3e50;
//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }
/*
 滚动条样式 全局

*/
// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   background-color: #a1a3a9;
//   border-radius: 3px;
// }
</style>
